html,
body {
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
}

a {
    transition: color 300ms ease 0;
}

h2 a {
    color: aquamarine;
}

h2 a:hover,
h2 a:focus,
h2 a:active {
    color: bisque;
}