html,
body {
    margin: 10%;
    border: 0;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
}

a {
    color: aquamarine;
    transition: color 300ms ease 0;
}

a:hover,
a:focus,
a:active {
    color: bisque;
}